
{% extends "fichier.html.twig" %}
  
{% block main %}
    
       

 
            
 <div class="col">

{% block title %}New Vendeur{% endblock %}


   
    {{ include('vendeur/_form.html.twig') }}

  </div>
{% endblock %}
