{% extends "fichier.html.twig" %}
{% block main %}
<div class="container">
<div class="row">
 <div class="col-6 col-md-4">
        <div class="list-group">
                     <a href="/testrole" class="list-group-item">List articles et categories</a>

            <a href="/Ajouter_article" class="list-group-item">Ajouter article</a>
            
            <a href="/Ajouter_categorie" class="list-group-item">Ajouter catégorie</a>
          </div>
        </div>
<div class="col">
      <form action="/supprimer_article" method="post">
      <h2> article Ajouter avec succées<h2>
</form>

{% endblock %}