{% extends "fichier.html.twig" %}
  
{% block main %}
    
   
    
<div class="container">
<div class="row">
 <div class="col-6 col-md-4">
        <div class="list-group">
         
            <a href="/vendeur/{{ users.id }}" class="list-group-item">Liste des articles </a>
            
        <a href="/new/{{ users.id }}" class="list-group-item">Ajouter article</a>
          </div>
        </div>
 
 <div class="col">
  <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    
    <a href="/vendeur/{{ users.id }}">back to list</a>
{% endblock %}
